# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Particle_Dio/target/3.0.0-rc.1/argon/platform_user_ram.ld
Particle_Dio/.vscode/settings.json
Particle_Dio/target/3.0.0-rc.1/argon/Particle_Dio.bin
Particle_Dio/target/3.0.0-rc.1/argon/Particle_Dio.bin.crc_block
Particle_Dio/target/3.0.0-rc.1/argon/Particle_Dio.bin.no_crc
Particle_Dio/target/3.0.0-rc.1/argon/Particle_Dio.dfu
Particle_Dio/target/3.0.0-rc.1/argon/Particle_Dio.lst
Particle_Dio/src/Particle_Dio.cpp
Particle_Dio/src/Particle_Dio.cpp
Particle_Dio/src/Particle_Wifi.cpp
Particle_Dio/target/3.1.0/argon/Particle_Dio.bin
Particle_Dio/target/3.1.0/argon/Particle_Dio.bin.crc_block
Particle_Dio/target/3.1.0/argon/Particle_Dio.bin.no_crc
Particle_Dio/target/3.1.0/argon/Particle_Dio.dfu
Particle_Dio/target/3.1.0/argon/Particle_Dio.lst
Particle_Dio/argon_firmware_1626987797325.bin
Particle_Dio/argon_firmware_1626990060374.bin
Particle_Dio/argon_firmware_1627021282308.bin
Particle_Dio/argon_firmware_1627026301505.bin
Particle_Dio/argon_firmware_1627471973721.bin
Particle_Dio/argon_firmware_1627538659639.bin
Particle_Dio/argon_firmware_1627555968735.bin
Particle_Dio/argon_firmware_1627558285160.bin
Particle_Dio/argon_firmware_1627640632099.bin
Particle_Dio/argon_firmware_1633362245132.bin
Particle_Dio/argon_firmware_1633522454753.bin
Particle_Dio/argon_firmware_1633690567802.bin
Particle_Dio/argon_firmware_1633690667527.bin
Particle_Dio/argon_firmware_1633692058427.bin
Particle_Dio/argon_firmware_1633692285376.bin
Particle_Dio/argon_firmware_1633692585459.bin
Particle_Dio/argon_firmware_1633692827081.bin
Particle_Dio/argon_firmware_1633697440242.bin
Particle_Dio/argon_firmware_1633697532441.bin
Particle_Dio/argon_firmware_1633698073193.bin
Particle_Dio/argon_firmware_1633936378232.bin
Particle_Dio/argon_firmware_1633936558006.bin
Particle_Dio/argon_firmware_1633937271095.bin
Particle_Dio/argon_firmware_1633940179359.bin
Particle_Dio/argon_firmware_1633940486547.bin
Particle_Dio/argon_firmware_1633944286532.bin
Particle_Dio/argon_firmware_1633944849651.bin
Particle_Dio/argon_firmware_1633945233659.bin
Particle_Dio/argon_firmware_1633950374623.bin
Particle_Dio/argon_firmware_1633950628196.bin
Particle_Dio/argon_firmware_1633951479677.bin
Particle_Dio/argon_firmware_1633951761459.bin
Particle_Dio/argon_firmware_1633951983956.bin
Particle_Dio/argon_firmware_1633952615228.bin
Particle_Dio/argon_firmware_1633953278345.bin
Particle_Dio/argon_firmware_1633953829196.bin
Particle_Dio/argon_firmware_1633954203368.bin
Particle_Dio/argon_firmware_1633998981947.bin
Particle_Dio/argon_firmware_1634285987080.bin
Particle_Dio/argon_firmware_1634287012189.bin
Particle_Dio/argon_firmware_1634288632789.bin
Particle_Dio/argon_firmware_1634291694642.bin
Particle_Dio/argon_firmware_1634291866838.bin
Particle_Dio/argon_firmware_1634297929472.bin
Particle_Dio/argon_firmware_1634299530907.bin
Particle_Dio/argon_firmware_1634299622196.bin
Particle_Dio/AWS certs/3522e089830f458bba7d82d297523cb6cbf71aae80b4f26295cd02f63a4240dc-certificate.pem.crt
Particle_Dio/AWS certs/3522e089830f458bba7d82d297523cb6cbf71aae80b4f26295cd02f63a4240dc-private.pem.key
Particle_Dio/AWS certs/3522e089830f458bba7d82d297523cb6cbf71aae80b4f26295cd02f63a4240dc-public.pem.key
Particle_Dio/AWS certs/AmazonRootCA1.pem
Particle_Dio/AWS certs/AmazonRootCA3.pem
Particle_Dio/AWS certs/V-RaptorMQTT.pem.crt
Particle_Dio/src/Particle_Dio.ino
Particle_Dio/argon_firmware_1636356372086.bin
Particle_Dio/argon_firmware_1639043856052.bin
Particle_Dio/argon_firmware_1639127068537.bin
Particle_Dio/buffer/main_Backup.ino
Particle_Dio/target/3.1.0/argon/platform_user_ram.ld
Particle_Dio/argon_firmware_1639132055023.bin
Particle_Dio/argon_firmware_1639132295669.bin
Particle_Dio/argon_firmware_1639135659339.bin
Particle_Dio/argon_firmware_1639136455978.bin
Particle_Dio/argon_firmware_1639139247875.bin
Particle_Dio/argon_firmware_1639139707425.bin
Particle_Dio/argon_firmware_1639139979921.bin
