# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Particle_Dio/target/3.0.0-rc.1/argon/platform_user_ram.ld
Particle_Dio/.vscode/settings.json
Particle_Dio/target/3.0.0-rc.1/argon/Particle_Dio.bin
Particle_Dio/target/3.0.0-rc.1/argon/Particle_Dio.bin.crc_block
Particle_Dio/target/3.0.0-rc.1/argon/Particle_Dio.bin.no_crc
Particle_Dio/target/3.0.0-rc.1/argon/Particle_Dio.dfu
Particle_Dio/target/3.0.0-rc.1/argon/Particle_Dio.lst
Particle_Dio/src/Particle_Dio.cpp
Particle_Dio/src/Particle_Dio.cpp
Particle_Dio/src/Particle_Wifi.cpp
Particle_Dio/target/3.1.0/argon/Particle_Dio.bin
Particle_Dio/target/3.1.0/argon/Particle_Dio.bin.crc_block
Particle_Dio/target/3.1.0/argon/Particle_Dio.bin.no_crc
Particle_Dio/target/3.1.0/argon/Particle_Dio.dfu
Particle_Dio/target/3.1.0/argon/Particle_Dio.lst
Particle_Dio/argon_firmware_1626987797325.bin
Particle_Dio/argon_firmware_1626990060374.bin
Particle_Dio/argon_firmware_1627021282308.bin
Particle_Dio/argon_firmware_1627026301505.bin
Particle_Dio/argon_firmware_1627471973721.bin
Particle_Dio/argon_firmware_1627538659639.bin
Particle_Dio/argon_firmware_1627555968735.bin
Particle_Dio/argon_firmware_1627558285160.bin
Particle_Dio/argon_firmware_1627640632099.bin
Particle_Dio/argon_firmware_1633362245132.bin
Particle_Dio/argon_firmware_1633522454753.bin
